<header class="header">
    <nav class="nav">
        <a href="/" class="nav__logo">OAuth</a>
        <ul class="nav__list">
            <li class="nav__item">
                <a href="/auth/logout" class="nav__link">Log Out</a>
            </li>
            <li class="nav__item">
                <a href="/auth/login" class="nav__link">Log In</a>
            </li>
        </ul>
    </nav>
</header>