<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload stylesheet" as="style" href="style.css">
    <title>OAuth Practice</title>
</head>
<body>
    <%- body %> 
</body>
</html>