<%- include("./partials/header") %> 

<main class="main">
    <h1>Welcome to your profile, <%= user.username %>! </h1>
    <% if (locals.user) { %>
        <img src="<%= user.thumbnail %> " alt="User avatar" class="profile-img">
    <% } %> 
</main>